@charset "UTF-8";
/* CSS Document */
body {
background:#272727;	
	
}

#screen { 
width: 1920px; 
height: 920px; 
float: left; 
background:#272727
}

#nametag {
 margin-left: 20px;
 margin-top: 10px;
 width: 1900px;
 
}

h1 {
  	color: #FFFFFF;
	font-family:'Palatino';
	font-size: 70px;
	margin-top: 0px;
	margin-bottom: 0px;
	letter-spacing: 2px;
	font-weight: normal;
	
}
	
img{
	width: 730px;
	
}

#project1{
	margin-left: 58px;
	float: right;
	width: 730px;
	
}

#project2{
	float: right;
	width: 730px;
	
}

h2 {
	 color: #FFFFFF;
	font-family:'Palatino';
	font-size: 25px;
	margin-top: 0px;
	margin-bottom: 0px;
	letter-spacing: 2px;
	font-weight: normal;
}

a {
	 color: #FFFFFF;
	font-family:'Palatino';
	font-size: 25px;
	margin-top: 0px;
	margin-bottom: 0px;
	letter-spacing: 2px;
	font-weight: normal;
	text-decoration: none;
}

h3 {
	 color: #FFFFFF;
	font-family:'Palatino';
	font-size: 50px;
	margin-top: 0px;
	margin-bottom: 0px;
	letter-spacing: 2px;
	font-weight: normal;
}

#righttext {
	margin-top: 145px;
	width: 1000px;
	float: right;
	
}


p {	font-family:'Palatino';
	color: white;
	font-size: 25px;
	margin-top: 0px;
	margin-bottom: 0px;
	letter-spacing: 2px;
	font-weight: normal;
	width: 850px;
	padding-top: 20px;
	
}

h4 {
	 color: #FFFFFF;
	font-family:'Palatino';
	font-size: 32px;
	letter-spacing: 2px;
	font-weight: normal;
	margin-left: 580px;
	
	margin-top: 120px;
}

#proceed {
	 color: #FFFFFF;
	font-family:'Palatino';
	font-size: 32px;
	letter-spacing: 2px;

}

#large {
	float: right;
	width: 1100px;
	
}

#artivieprompt{
	float: left;
	width: 600px;
	margin-left: 10px;
	margin-top: 630px;
}

#qr{
	margin-top: 10px;
	width: 130px
}

h5{
	float: right;
	width: 440px;
	color: #FFFFFF;
	font-family:'Palatino';
	font-size: 25px;
	margin-top: 10px;
	font-weight: normal;
}

h6{
		 color: #FFFFFF;
	font-family:'Palatino';
	font-size: 32px;
	letter-spacing: 2px;
	font-weight: normal;
	float: right;
	margin-top: 10px;
	width: 450px;
	
}